/* СТИЛИ ДЛЯ ШАПКИ*/

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 92px 24px 96px;
    max-width: 1052px;
}

.header__menu{
    justify-self: start;
}

.header__links-list{
    display: flex;
	gap: 24px;
	min-width: 392px;
}

.header__links-list-item{
    list-style: circle;
    font-size: 18px;
    font-weight: 400;
}

.header__links-list-item_no-bullit{
    list-style: none;
}

.header__link{
    text-decoration: none;
	border-bottom: 1px solid;
    text-transform: lowercase;
	
}

.header__link_active{
    border-bottom: 0px;
}

.header__logo{
    display: block;
    justify-self: center;
    width: 148px;
}

.address{
    justify-self: end;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0.01em;
    max-width: 241px;
    font-style: normal;
}

.adress_info{
    text-decoration: none;
	border-bottom: 1px solid;
}

/* СТИЛИ ДЛЯ АУКЦИОНА*/

.cover{
    padding: 165px 50px 51px 50px;
	margin-bottom: 179px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.overlay{
    position: absolute;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.6);
    inset: 0;
}

.cover__title{
    position: relative;
    z-index:2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    position: relative;
    line-height: 100px;
    color: #FFF;
}

.aligned-text{
    display: block;
    line-height: 115px;
}

.aligned-text_center{
    text-align: center;
}

.aligned-text_right{
    text-align: right;
}

.letter-spacing-extended {
	letter-spacing: 0.6em;
}

.no-letter-spacing{
    letter-spacing: initial;
}

.cover__description{
    margin-top: 147px;
    position: relative;
    display: flex;
    justify-content: end;
    z-index:2;
}

.cover__description-text{
    margin-right: 79px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFF;
    word-spacing:16px;
}

.bet-button{
    padding: 12px 32px;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.83px;
    text-align: center;
    border: 1px solid #FFF;
    color: #FFF;
    text-transform: uppercase;
    background-color: transparent;
}

/* СТИЛИ ДЛЯ ЛОТОВ*/
.lots{
    padding: 0px 24px 146px;
}

.lots__heading{
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots__card-list{
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: space-between;
	flex-wrap: wrap;
	align-content: center;
}

.lots__card-list-item{
    width: 334px;
    min-height: 563px;
    flex-grow: 1
}

.card-link{
    text-decoration: none;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px 40px;
    position: relative;
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.card_type_film {
	background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
	background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
	background-image: url(../images/card-lot-03.jpg);
}

.card__title{
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: left;
    color: #FFF;
    text-transform: uppercase;
    position: relative;
    z-index:2;
}

.card__text{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FFF;
    position: relative;
    z-index:1;
}

.lots__look-more-link{
    display: block;
    margin-left: 40px;
    margin-top: 30px;
    width: fit-content;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    text-decoration: none;
    text-transform: lowercase;
    border-bottom: 1px solid;
    padding-bottom: 1px;
}




