/* СТИЛИ ДЛЯ ШАПКИ*/

.header {
    inline-size: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.header__links-list {
    display: flex;
    gap: 32px;
    min-inline-size: 392px;
}

.header__links-list-item {
    list-style: circle;
    font-size: 18px;
    font-weight: 400;
}

.header__links-list-item:first-child {
    list-style: none;
}

.header__link {
    text-decoration: none;
    border-block-end: 1px solid;
    text-transform: lowercase;

}

.header__link_active {
    border-block-end: 0;
}

.header__logo {
    display: block;
    justify-self: center;
    align-self: center;
    inline-size: 130px;
}

.header__logo-image {
    inline-size: 100%;
}

.address {
    justify-self: end;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: 0.01em;
    max-inline-size: 241px;
    font-style: normal;
}

.adress_info {
    text-decoration: none;
    border-block-end: 1px solid;
}

/* СТИЛИ ДЛЯ АУКЦИОНА*/

.cover {
    padding: 165px 50px 51px 50px;
    margin-block-end: 179px;
    background: url(../images/cover.jpg) no-repeat center / cover;
    position: relative;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    inset: 0;
}

.cover__title {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    line-height: 1.15;
    color: #FFF;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
    line-height: 1;
}

.aligned-text_right {
    text-align: right;
    line-height: 1;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.cover__description {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 78px;
    padding: 136px 0 0;
    z-index: 1;
}

.cover__description-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.27;
    text-transform: uppercase;
    color: #FFF;
    word-spacing: 18px;
}

.bet-button {
    padding: 12px 32px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.17;
    text-align: center;
    border: 1px solid #FFF;
    color: #FFF;
    text-transform: uppercase;
    background-color: transparent;
}

/* СТИЛИ ДЛЯ ЛОТОВ*/
.lots {
    padding: 0 24px 146px;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    margin-inline-start: 40px;
    margin-block-end: 27px;
}

.lots__card-list {
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

.lots__card-list-item {
    inline-size: 334px;
    min-block-size: 563px;
    flex-grow: 1
}

.card-link {
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    block-size: 100%;
    padding: 50px 40px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    color: #FFF;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.card__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
    color: #FFF;
    position: relative;
    z-index: 1;
}

.lots__look-more-link {
    display: block;
    width: fit-content;
    margin-inline-start: 40px;
    margin-block-start: 30px;
    font-size: 20px;
    line-height: 1.17;
    text-decoration: none;
    text-transform: lowercase;
    border-block-end: 1px solid;
    padding-block-end: 1px;
}

/* СТИЛИ ДЛЯ аукционов*/

.about {
    padding: 0 24px;
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
}

.about__logo {
    background-color: #000;
    inline-size: 240px;
    block-size: 240px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-block-start: 35px;
    margin-inline-start: 47px;
}

.about__logo-image {
    inline-size: 148px;
    align-self: center;
}

.about__title {
    margin-block-start: 136px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.18;
    text-transform: uppercase;
}

.about__text {
    margin-block-start: 100px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
}

/* СТИЛИ ДЛЯ подвала*/

.footer {
    padding: 180px 50px 88px;
    display: flex;
    justify-content: space-between;
}

.footer__menu {
    text-align: center;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
}

.footer__menu-list-item {
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.17;
}

.footer__menu-link {
    text-decoration: none;
    border-block-end: 1px solid;
    text-transform: lowercase;
}

.footer__menu-link_active {
    border-block-end: 0;
}

.footer__social-list {
    display: flex;
    list-style: none;
    gap: 48px;
    flex-wrap: wrap;
}

.footer__social-icon {
    inline-size: 48px;
    block-size: 48px;
    object-fit: cover;
}